<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Wannabe Vauva-lehden keskustelupalsta</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestit aiheesta:</h1>
        
        <h2 th:text="${keskustelu}">keskustelu</h2>

        <ul>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.aika}">aika</span>&nbsp;&nbsp;<span th:text="${viesti.nimimerkki}">lahettaja</span>:&emsp;
                <span th:text="${viesti.sisalto}">sisalto</span>
            </li>
        </ul>
        
        <form method="POST" action="/viestit">
            Lisää uusi viesti:<br/>
            Viesti: <input type="text" name="sisalto"/><br/>
            Lähettäjä: <input type="text" name="lahettaja"/><br/>
            <input type="hidden" name="keskustelu" value="0" th:value="${keskusteluId}"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>
        
        <p><a th:href="@{https://enigmatic-badlands-83870.herokuapp.com/keskustelut(alue=${alue_id})}">Takaisin keskusteluihin</a></p>
        
        <!-- <p><a th:href="@{http://localhost:4567/keskustelut(alue=${alue_id})}">Takaisin keskusteluihin</a></p>
        -->
    </body>
</html>